.btnRegister {
    background-color: #FF5500 !important;
    border: none !important;
}
.btnRegister:hover {
    background-color: #FF5500 !important;
    border: none !important;
}
.btnRegister:focus {
    box-shadow: none !important;
}
.icon {
    color: #FF5500;
}
.inputForm:focus {
    box-shadow: none !important;
    border: 1px solid #FF5500;
}